# Assignment - 16

#### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

#### Ans.

In [1]:
birth_year = int(input("Enter you year of birth - "))
years_list = [year for year in range(birth_year, birth_year+6)]
years_list

Enter you year of birth - 1984

[1984, 1985, 1986, 1987, 1988, 1989]

#### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
#### Ans.

In [2]:
print('Third birthday was in year {0}'.format(years_list[3]))

Third birthday was in year 1987

#### 3.In the years list, which year were you the oldest?
#### Ans.

In [3]:
print('I was oldest in year ', years_list[-1])

I was oldest in year  1989

#### 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.
#### Ans.

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
#### Ans.

In [5]:
# the element 'cinderella' refers to a person.
for idx, ele in enumerate(things):
    if ele=='cinderella':
        things[idx] = ele.capitalize()

things
# yes, it mutated the list & update the element.

['mozzarella', 'Cinderella', 'salmonella']

#### 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;
#### Ans.

In [6]:
surprise = ['Groucho', 'Chico', 'Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
#### Ans.

In [7]:
#lower case last element
last_ele = surprise[-1].lower()
print('Last element is ', last_ele)

#reverse last element
lst_rev = last_ele[: :-1]
print('reversed last element is ', lst_rev)

#capitalize
print('capitlized last element is ', lst_rev.capitalize())

Last element is  harpo
reversed last element is  oprah
capitlized last element is  Oprah

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
#### Ans.

In [8]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse' }
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.
#### Ans.

In [9]:
e2f['walrus']

'morse'

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
#### Ans.

In [10]:
f2e = dict([(v, k) for k, v in e2f.items()])
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11. Print the English version of the French word chien using f2e.
#### Ans.

In [11]:
f2e['chien']

'dog'

#### 12. Make and print a set of English words from the keys in e2f.
#### Ans.

In [12]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

#### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.
#### Ans.

In [13]:
life = {
        'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 
                   'octopi':{}, 
                   'emus':{}}, 
        'plants': {}, 
        'other':{}
}

#### 14. Print the top-level keys of life.
#### Ans.

In [14]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

#### 15. Print the keys for life[&#39;animals&#39;].
#### Ans.

In [15]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

#### 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]
#### Ans.

In [16]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']