# Assignment 20

#### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.
#### Ans.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)

f = open('test.txt','w')
f.write(test1)
f.close()

This is a test of the emergency text system,

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
#### Ans.

In [2]:
with open('test.txt','r') as f:
    test2 = f.read()
print(test2)
if test1 == test2:
    print('both text content are same')
else:
    print('both text content are different')

This is a test of the emergency text system,
both text content are same

#### 3. Create a CSV file called books.csv by using these lines: 

`title, author,year`

`The Weirdstone of Brisingamen, Alan Garner, 1960`

`Perdido Street Station, China Miéville, 2000`

`Thud!, Terry Pratchett, 2005`

`The Spellman Files, Lisa Lutz, 2007`

`Small Gods, Terry Pratchett, 1992`

#### Ans.

In [3]:
content = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

# Here we need to pass the encoding parameter and set it's value to utf-8 as here we are trying to write a .csv file
with open('books.csv','w', encoding="utf-8") as f:
    f.write(content)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
#### Ans.

In [4]:
import sqlite3

db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

#### 5. Read books.csv and insert its data into the book table.
#### Ans.

In [5]:
import sqlite3
import csv

try:
    conn = sqlite3.connect("books.db")
    cursor = conn.cursor()
    with open("books.csv","r") as file:
        books = csv.DictReader(file)
        for book in books:
            cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
    conn.commit()
    
except Exception as e:
    print(f'Failed to add data into database')

finally:
    conn.close()

#### 6. Select and print the title column from the book table in alphabetical order.
#### Ans.

In [6]:
import sqlite3

try:
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
    for ele in output:
        print(ele[0])
except Exception as e:
    print(f'Failed to fetch data from database')

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7. From the book table, select and print all columns in the order of publication.
#### Ans.

In [7]:
import sqlite3

try:
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    ouput = cursor.execute("SELECT * FROM books ORDER BY year")
    for record in ouput:
        print(record)
except Exception as e:
    print(f'Failed to fetch data from database')
finally:
    conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
#### Ans.

In [8]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///books.db')
engine

Engine(sqlite:///books.db)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.
#### Ans.

In [9]:
# Install redis server for windows on local PC by following steps in the below link

# https://stackoverflow.com/questions/6476945/how-do-i-run-redis-on-windows
# https://github.com/microsoftarchive/redis/releases

In [10]:
import redis
conn = redis.StrictRedis(host='localhost', port=6379, db=0)
conn.hset('test','count', 1)
conn.hset('test','name','Fester Bestertester')
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

#### 10. Increment the count field of test and print it.
#### Ans.

In [11]:
conn.hincrby('test', 'count', 1)
conn.hgetall('test')

{b'count': b'2', b'name': b'Fester Bestertester'}